$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-hero-bg-color: #2f303a;
$footer-contacts-text: rgba(255, 255, 255, 0.6);
$white-color-text: #ffffff;
$black-color-tex: #000000;
$social-bg-color: #afb1b8;
$bg-color-projects: #eeeeee;
$header-line-color: #ececec;

body {
    background: $primary-bg-color;
    color: $title-text-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.accent-color {
    color: $accent-color;
}